/*===POPULAR PRODUCTS IMAGES===*/

.popular-image-1 {
    background: url(../img/popular-product/popular-product-1.jpg);
}
  
.popular-image-2 {
    background: url(../img/popular-product/popular-product-2.jpg);
}

.popular-image-3 {
    background: url(../img/popular-product/popular-product-3.jpg);
}

.popular-image-4 {
    background: url(../img/popular-product/popular-product-4.jpg);
}

.popular-image-5 {
    background: url(../img/popular-product/popular-product-5.jpg);
}

.popular-image-6 {
    background: url(../img/popular-product/popular-product-6.jpg);
}

.popular-image-7 {
    background: url(../img/popular-product/popular-product-7.jpg);
}

.popular-image-8 {
    background: url(../img/popular-product/popular-product-8.jpg);
}

.popular-image-9 {
    background: url(../img/popular-product/popular-product-9.jpg);
}

.popular-image-10 {
    background: url(../img/popular-product/popular-product-10.jpg);
}

.popular-image-11 {
    background: url(../img/popular-product/popular-product-11.jpg);
}

.popular-image-12 {
    background: url(../img/popular-product/popular-product-12.jpg);
}

/*===POPULAR PRODUCTS IMAGES ENDS===*/